@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* banner section start */
.hero {
    background: rgb(30, 30, 30);
    height: 1150px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 15%;
}

h2 {
    color: rgb(253, 111, 0);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
}

.common-btn {
    background: rgb(253, 111, 0);
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 21px;
    font-weight: 400;
    padding: 8px 15px;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 12%;
}
.banner-img img{
    width: 450px;
    height: 550px;
}
.designer{
    display: flex;
}
.work{
    display: flex;
}
.inside-btn{
    display: flex;
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 25.69px;
font-weight: 400;
line-height: 30px;
width: 140px;
border-radius: 60px;
height: 50px;
background: rgb(253, 111, 0);
padding-left: 20px;
align-items: center;
margin-left: 5px;

}
.inside-btn img{
    width: 30px;
    height: 30px;
}
.banner-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
border-radius: 50px;

backdrop-filter: blur(15px);
background: rgba(255, 255, 255, 0.1);
width: 300px;
height: 60px;
margin-top: 30px;
margin-bottom: 20px;
}
.banner-btn h5{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 25.69px;
font-weight: 400;
line-height: 30px;
padding-right: 20px;
}
.banner-intro h1{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 40px;
font-weight: 800;
text-transform: uppercase;
margin-top: 127px;
}
.banner-intro h3{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 40px;
font-weight: 800;
line-height: 47px;
text-transform: uppercase;
margin-top: 12px;
padding-right: 20px;
}
.banner-intro h3 span{
    color: rgb(253, 111, 0);
}
.banner-intro p{
    color: rgba(255, 255, 255, 0.5);
font-family: Rubik;
font-size: 18px;
font-weight: 400;
line-height: 21px;
margin-top: 12px;
margin-bottom: 12px;
}
.work h6{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 24px;
font-weight: 300;
line-height: 28px;
text-transform: uppercase;
margin-right: 10px;
}
.banner-intro img{
    margin-right: 10px;
    
    
}
.banner-icon i{
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.rotet{
    display: flex;
    height: 120px;
    width: 1350px;
    align-items: center;
    border-radius: 24px 0px 24px 0px;
    transform: rotate(-6.97deg);
    

background: rgb(0, 0, 0);
}
.rotet p{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 32px;
font-weight: 400;
margin-right: 10px;

}
.rotet img{
    height: 34px;
    width: 34px;
    margin-right: 10px;
}
.banner-end{
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.end-text h1{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 40px;
font-weight: 800;
text-transform: uppercase;
}
.end-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Rubik;
font-size: 18px;
font-weight: 400;
margin-top: 20px;
}
.review h1{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 47px;
font-weight: 700;
/* line-height: 100%; */
text-align: center;
}
.review p{
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    margin-right: -95px;
    
}
.review{
    text-align: right;
}
/* experience section start */
.experience {
    display: flex;
    background: rgb(63,38,78);
    background: linear-gradient(106deg, rgba(63,38,78,1) 10%, rgba(56,44,97,1) 52%, rgba(106,47,19,1) 100%);
    height: 550px;
    /* padding-top: 120px; */
}

.detail {
    width: 50%;
    padding-left: 100px;
    padding-top: 150px;

}

.duration {
    width: 50%;
    padding-right: 100px;
    padding-top: 120px;
}

.detail h5 {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
.detail h1{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
padding-bottom: 20px;
}
.detail p{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 18px;
font-weight: 400;
}
.duration h5{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 18px;
font-weight: 700;
padding-bottom: 12px;
padding-top: 20px;
}
.duration h6{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 16px;
font-weight: 400;
padding-top: 15px;
}
.duration h1{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 32px;
font-weight: 700;
text-transform: uppercase;
padding-bottom: 20px;
}
hr{
    border: 1px solid rgb(255, 255, 255);
opacity: 0.2;

}

.time {
    display: flex;
    justify-content: space-between;
}

/* award start */
#section{
    background: rgb(30, 30, 30);
    height: 2000px;  
}
.heading {
    text-align: center;
    padding-top: 150px;
}

.heading h1 {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.heading p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}
.first-award{
    width: 1040px;
    height: 220px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 45px;
    padding: 45px 55px;
}
.second-award{
    width: 1040px;
    height: 220px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 25px;
    padding: 45px 55px;
    
}

.name{
    display: flex;
    justify-content: space-between;
}
.name h5{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 24px;
font-weight: 400;
}
.name h4{
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
}
.text{
    color: rgba(255, 255, 255, 0.5);
font-family: Rubik;
font-size: 18px;
font-weight: 400;
text-align: left;
width: 650px;
padding-top: 24px;
}
/* award end */

/* portfolio start */
.sub-section{
    height: 988px;
    width: 1040px;
    margin: 0 auto;
}
.portfolio-heading{
    text-align: center;
}
.portfolio-heading h1{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 40px;
font-weight: 800;
text-transform: uppercase;
padding-top: 150px;
}
.portfolio-heading p{
    color: rgba(255, 255, 255, 0.5);
font-family: Rubik;
font-size: 18px;
font-weight: 400;
padding-top: 20px;
}
.btn-section{
    text-align: center;
    padding-top: 45px;
    
}
.btn-section button{
    margin-left: 30px;
}
.first-btn{
    box-sizing: border-box;
    border: 0.4px solid rgb(84, 84, 84);
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 24px;
font-weight: 400;
padding: 5px 15px;
}
.third-btn{
    box-sizing: border-box;
    border: 0.4px solid rgb(84, 84, 84);
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
padding: 5px 15px;
}
.forth-btn{
    box-sizing: border-box;
    border: 0.4px solid rgb(84, 84, 84);
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
padding: 5px 15px;
}
.first-portfolio{
    display: flex;
    margin-top: 45px;
    /* justify-content: space-between; */
}
.portfolio-text{
    padding-left: 30px;
    padding-top: 25px;
}
.portfolio-text h6{
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 600;
}
.portfolio-text h1{
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}
.portfolio-text p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
}
.second-portfolio{
    display: flex;
    margin-top: 50px;
}
/* portfolio end */

/* contact info start */
.contact-heading{
    text-align: center;
}
.contact-heading h6{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 18px;
font-weight: 600;
}
.contact-heading h1{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
padding-top: 15px;
padding-bottom: 50px;
}
.contact-section{
    background: rgb(30, 30, 30);
    width: 1350px;
    height: 800px;
}
.form{
    width: 1040px;
    height: 550px;
    background: rgba(253, 111, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 100px;
}
.input{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    outline: none;
}
.input p{
    padding-left: 50px;
}
form textarea{
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}
form p{
    padding-left: 140px;
    color: rgba(255, 255, 255, 0.8);
font-family: Rubik;
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
}
form h1{
    color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
padding-left: 100px;
padding-top: 60px;
}
form i{
    padding-left: 100px;
    margin-top: 20px;
}
.attach{
    margin-top: -19px;
}
.form button{
    margin-left: 110px;
    margin-top: 20px;
}
/* contact info end */

/* footer section start */
.footer-nav{
    display: flex;
    justify-content: center;
    /* padding-left: 20px; */
}
.footer-nav ul{
    display: flex;
    /* border: 2px solid red; */
    
}
.footer-nav li{
    /* display: inline-block; */
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
    
}
.footer-nav li a{
    text-decoration: none;
    padding-left: 25px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 21px;
font-weight: 400;

}
footer{
    background: rgb(0, 0, 0);
    height: 450px;
}
footer h1{
    text-align: center;
    color: rgb(253, 111, 0);
font-family: Poppins;
font-size: 64px;
font-weight: 700;
padding-top: 80px;
padding-bottom: 40px;
}
.footer-icon{
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.footer-icon i{
    margin-left: 20px;
}
.copyright-text{
    background: rgb(18, 18, 18);
    height: 70px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-text span{
    color: rgb(253, 111, 0);
}
/* footer section end */
